{% extends 'base.html' %}

{% load static %}
{% load user_filters %}

{% block title %}Изменить пароль{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
    {% include "includes/name.html" with name='Изменить пароль' %}
  <div class="form-container">
    <form class="form" method="post">
      {% csrf_token %}
      {% for field in form %}
        {% include "helpers/formField.html" %}
      {% endfor %}
        {% include "helpers/formButton.html" with button_title="Изменить пароль" %}
    </form>
  </div>
{% endblock %}