{% extends 'base.html' %}

{% load static %}
{% load user_filters %}

{% block title %}Сброс пароля{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
    {% include "includes/name.html" with name='Сброс пароля' %}
  <div class="form-container">
    <form class="form" method="post">
      <p class="form__info-text">
        Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
      </p>
      {% csrf_token %}
      {% for field in form %}
        {% include "helpers/formField.html" %}
      {% endfor %}
        {% include "helpers/formButton.html" with button_title="Сбросить пароль" %}
    </form>
  </div>
{% endblock %}