{% extends 'base.html' %}

{% load static %}
{% load user_filters %}

{% block title %}Регистрация{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
{% include "includes/name.html" with name='Регистрация' %}
  <div class="form-container">
    <form class="form" method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      {% for field in form %}
        {% include "helpers/formField.html" %}
      {% endfor %}
        {% include "helpers/formButton.html" with button_title="Создать аккаунт" %}
    </form>
  </div>
{% endblock %}