{% if big %}

    <button class="button button_style_none" name="favorites"
            {% if not recipe.favorite_flag %}
                data-out><span class="icon-favorite_big">
            {% else %}
                ><span class=icon-favorite_big">
            {% endif %}
                </span>
    </button>

{% else %}

    <button class="button button_style_none" name="favorites"
            {% if not recipe.favorite_flag %}
                data-out><span class="icon-favorite">
            {% else %}
                ><span class="icon-favorite icon-favorite_active">
            {% endif %}
                </span>
    </button>

{% endif %}