{% if use_case == 'favorite' %}
    <h1 class="main__title">Избранное</h1>
{% elif use_case == 'index' %}
    <h1 class="main__title">Рецепты</h1>
{% endif %}

<ul class="tags">
  {% for tag in request.tags %}
    <li class="tags__item">
        <a id="{{ tag.object.id }}" class="tags__checkbox tags__checkbox_style_{{ tag.object.color }}
        {% if tag.active %} tags__checkbox_active {% endif %}" href="{{ tag.url }}"></a>
        <span class="tags__label">{{ tag.object.display_name }}</span>
    </li>
  {% endfor %}
</ul>