{% extends 'base.html' %}

{% load static %}

{% block title %}Избранное{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
  <div class="main container">
  {% include "includes/name.html" with name="Избранное" include_tags=True %}
    {% if not page %}
        <div class="recipe__title">
            <p class="recipe__title">Вы еще ничего не выбрали.</p>
        </div>
    {% endif %}

  <div class="card-list">
    {% for recipe in page %}
      {% include './includes/recipeCard.html' with recipe=recipe %}
    {% endfor %}
  </div>

  {% if page.has_other_pages %}
    {% include './includes/paginator.html' with page=page paginator=paginator %}
  {% endif %}

{% endblock %}

{% block js %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/favorite.js' %}"></script>
{% endblock js %}