{% extends 'base.html' %}

{% load static %}

{% block title %}Мои подписки{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}

{% block content %}
  <div class="main__header">
    <h1 class="main__title">Мои подписки</h1>
  </div>
  <div class="card-list">
    {% for author in page %}
      {% include './includes/authorCard.html' with author=author %}
    {% endfor %}
    {% if page.count == 0 %}
          <div class="custom-center-block">
            <p class="custom-text-block">Вы не подписаны ни на одного автора</p>
            <div class="custom-button-block">
              <a class="button button_style_blue" href="{% url 'index' %}">Перейти на главную</a>
            </div>
          </div>
    {% endif %}
  </div>
  {% if page.has_other_pages %}
    {% include './includes/paginator.html' with page=page paginator=paginator %}
  {% endif %} 
{% endblock %}

{% block js %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Subscribe.js' %}"></script>
  <script src="{% static 'js/components/MyFollow.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/myFollow.js' %}"></script>
{% endblock %}
